[
  {"name": "ABS_AA",
   "max_age_hrs": 24,
   "url": "http://${ALDER_SEQ_HOST}/db/abs_sequences.text?q[abs_clone_hot_clone_eq]=true&q[abs_sequence_type_id_eq]=2&add_ald_names=1"
 },
 {"name": "ABS_DNA",
  "max_age_hrs": 24,
  "url": "http://${ALDER_SEQ_HOST}/db/abs_sequences.text?&q[abs_clone_hot_clone_eq]=true&q[abs_sequence_type_id_eq]=1&add_ald_names=1"
} 
]

